
<!DOCTYPE html>
<html lang="ku">
<head>
    <meta charset="UTF-8">
    <title>پشتڕاستکردنەوەی ئەژمار</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="verify-box">
        <h2>تکایە کۆدی نێردراو بۆ ئیمەیڵەکەت داخل بکە</h2>
        <form method="POST">
            <input type="text" name="code" placeholder="کۆدی پشتڕاستکردنەوە" required><br>
            <button type="submit">پشتڕاستکردنەوە</button>
        </form>
    </div>
</body>
</html>
